/*General Layout*/
body {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #F0E7E2;
    background-image: url(images/Group\ 6\ \(3\).png);
    background-size: cover;
    background-position: center;
}

/*Navigation*/
#nav {
    display: flex;
    flex-direction: row;
    padding: 0px 64px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.nav-line {
    border: 1px solid orange;
    height: 0px;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    padding-right: 16px;
    margin-right: 16px;
    color: orange;
    font-size: 1.1em;
}

a:hover {
    color: purple;
}

@media screen and (max-width: 600px) {
    #nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .nav-line {
        display: none;
    }

    .nav-links {
        margin-top: -12px;
        margin-bottom: 36px;
    }
}


/*Hero*/
#hero {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    background-image: url(images/group)
}

h1 {
    color: #FF7F32;
    font-size: 2.8em;
    font-weight: 500;
    font-style: italic;
    line-height: 25%;
    margin: 12px;
}

.listen-btn {
    color: #FF7F32;
    font-size: 1.2em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    border: 2px solid #FF7F32;
    border-radius: 2px;
    background-color: #F2DF98;
    box-shadow: 0px 4px 4px 0px #00000010;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.more-music-btn {
    color: #FF7F32;
    font-size: 1.2em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    border: 2px solid #FF7F32;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px #00000010;
    padding: 12px 20px;
}

.listen-btn:hover,
.more-music-btn:hover {
    background-color: #fff0b250;
    color: #FF7F32;
    box-shadow: none;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: 1px solid orange;
    font-style: italic;
    transition: border-left-color 0.1s linear 0s, border-top-color 0.1s linear 0.07s, border-right-color 0.1s linear 0.14s;
}

.more-music-btn:hover {
    background-color: transparent;

}

.header-btns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 12px;
}

.spotify,
.apple-music,
.amazon-music,
.soundcloud {
    background: transparent;
    border: none;
}

.music-btns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 8px;
}

.music-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    position: absolute;
    top: 156px;
    margin-right: 750px;
}

.header-social-btns {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 84px;
    margin-left: 750px;
}

@media screen and (max-width: 1200px) {
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 24px;
        margin-bottom: 375px;

    }

    .music-cta,
    .more-music-btn,
    .listen-btn {
        position: static;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listen-btn {
        display: flex;
        flex-direction: row;
    }


    .header-btns,
    .music-btns {
        flex-direction: row;
        gap: 12px;
        align-items: center;
    }

    .header-social-btns {
        display: none;
    }

    h1 {
        font-size: 3.4em;
        line-height: 0%;
    }

    .heading {
        margin-top: 88px;
    }
}

@media screen and (max-width: 600px) {
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 24px;
        margin-bottom: 36px;

    }

    .music-cta,
    .more-music-btn,
    .listen-btn {
        position: static;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listen-btn {
        display: flex;
        flex-direction: row;
    }


    .header-btns,
    .music-btns {
        flex-direction: row;
        gap: 12px;
        align-items: center;
    }

    .header-social-btns {
        display: none;
    }

    h1 {
        font-size: 3em;
        line-height: 0%;
    }

    .heading {
        margin-top: 102px;
    }
}

/*Tour + Some Video*/
.tour-header,
.video-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tour-line,
.video-line {
    border: 1px solid #28438F;
    height: 0px;
    width: 100%;
}

.tour-header-text {
    font-size: 3.5em;
    margin: 0px 16px;
    color: #28438F;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 24px;
    text-shadow: 1px 1px 2px #FFFFFF;
}

.tour-info,
.tour-info-last {
    border-bottom: 1px solid #28438F;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tour-info-last {
    margin-bottom: 24px;
}

.tour-info:hover,
.tour-info-last:hover {
    background: linear-gradient(to bottom, #EFE7E370, #c2e2e975);
}

.date,
.new-events-text {
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    color: #28438F;
}

.event {
    font-size: 1.5em;
    font-weight: 400;
    color: #28438F;
    margin-bottom: 16px;
}

.location {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    color: #28438F;
}

.tickets,
.follow-btn {
    color: #28438F;
    font-size: 1.2em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    border: 2px solid #284385;
    border-radius: 2px;
    background-color: #28438110;
    box-shadow: 0px 4px 4px 0px #00000010;
    padding: 8px 20px;
}

.follow-btn {
    background-color: #E7E3E0;
}

.tickets:hover,
.follow-btn:hover {
    background-color: transparent;
    color: #284385;
    box-shadow: none;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: 1px solid #284385;
    font-style: italic;
    transition: border-left-color 0.1s linear 0s, border-top-color 0.1s linear 0.07s, bor
}

.new-events {
    border: 1px solid #28438F;
    background-color: #E7E3E0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 8px;
    margin-bottom: 16px;
}

.new-events-text {
    font-size: 1.8em;
}

.tour-container {
    border: 1px solid #284385;
    border-radius: 4px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 24px 56px;
    margin-top: -312px;
    position: relative;
    z-index: 2;
    background-color: #EFE7E350;
    background-image: url(images/tour-bg.png);
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    .tour-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 5%;
        margin-top: -300px;
        background-image: none;
    }

    .tour-info,
    .tour-info-last {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding-bottom: 36px;
        margin-bottom: 36px;
    }

    .date-event {
        display: flex;
        flex-direction: column;
    }

    .date,
    .location {
        font-size: 1.4em;
    }

    .event {
        font-size: 1.1em;
    }

    .tickets {
        margin-top: 16px;
    }

    .new-events {
        text-align: center;
        padding: 16px;
        font-size: .9em;
    }
}

@media screen and (max-width: 600px) {
    .tour-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 5%;
        background-image: none;
    }

    .tour-info,
    .tour-info-last {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        padding-bottom: 36px;
        margin-bottom: 36px;
    }

    .date-event {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .date,
    .location {
        font-size: 1.6em;
    }

    .event {
        font-size: 1.4em;
    }

    .tickets {
        width: 100%;
        margin-top: 16px;
    }

    .new-events {
        text-align: center;
        padding: 16px;
        font-size: .8em;
    }
}


/*Pattern BG*/
.background-div {
    background-image: url('images/bg-pattern.png');
    background-size: cover;
    margin-top: -1500px;
    position: relative;
    z-index: 1;
    padding-top: 400px;
}


/*Video*/
#video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    border-radius: 6px;
    margin-top: 112px;
    position: relative;
    z-index: 2;
    gap: 16px;
}

.video-header-text {
    font-size: 3.5em;
    margin: 0px 16px;
    color: #06675F;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 24px;
    text-shadow: 1px 1px 2px #FFFFFF;
    text-align: center;
}

.video-line {
    border: 1px solid #06675F;
}

.video-header {
    display: flex;
    flex-direction: row;
}

.video-title {
    font-size: 1.5em;
    color: #06675F;
    margin-top: 16px;
    margin-bottom: 96px;
    width: 100%;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    background-color: #06675F10;
    border: 2px solid #06675F;
    padding: 10px 0px;

}

@media screen and (max-width: 1200px) {

    .video-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .video-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    .video-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .video-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*Newsletter*/
#newsletter-form {
    padding: 16%;
    padding-top: 1200px;
    padding-bottom: 200px;
}


.newsletter-header {
    color: #06675F;
    font-size: 4em;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.newsletter-subheading {
    color: #06675F;
    font-size: 1.4em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 16px;
}

input::placeholder {
    color: #06675F;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.submit {
    color: #06675F;
    font-size: 1em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    border: 2px solid #06675F;
    border-radius: 2px;
    background-color: #EFE7E3;
    box-shadow: 0px 4px 4px 0px #00000010;
    padding: 6px 20px;
}

.submit:hover {
    border: 2px solid #284385;
    color: #284385;
}

input {
    color: #06675F;
    font-size: .8em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    border: 2px solid #06675F;
    border-radius: 2px;
    background-color: #EFE7E3;
    box-shadow: 0px 4px 4px 0px #00000010;
    padding: 8px 12px;
    width: 675px;
}

input:hover {
    border: 2px solid #284385;
    color: #284385;
}

input:focus {
    border: 2px solid #284385;
    outline: none;
    color: #284385;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.newsletter-container {
    background-color: #EFE7E3;
    border: 2px solid #06675F;
    padding: 56px 24px;
    border-radius: 4px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -56px;
}

@media screen and (max-width: 1200px) {
    .newsletter-header {
        font-size: 2em;
    }

    .newsletter-subheading {
        text-align: center;
    }

    input {
        width: 375px;
    }

    .newsletter-container {
        padding: 0px;
        width: 100%;
        padding: 24px 16px;
    }

    #newsletter-form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 600px) {
    .newsletter-header {
        font-size: 2.0em;
        margin-bottom: 16px;
    }

    .newsletter-subheading {
        display: none;
    }

    input {
        width: 250px;
    }

    .newsletter-container {
        padding: 0px;
        width: 100%;
        padding: 24px 16px;

    }

    #newsletter-form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}


/*Footer*/
.footer-links-column {
    list-style-type: none;
}

footer ul li a {
    color: #28438F;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
    color: #28438F;
    font-size: 1.2em;
}

.copyright {
    color: #28438F;
    font-size: 1.2em;
    text-align: center;
}

.footer-social-btns {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 24px;
}


.footer-container {
    background-color: #EFE7E3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-top: 2px solid #284385;
    margin: 0 auto;
    margin-top: -56px;
    padding: 36px;

}

.footer-middle,
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-left {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .footer-line {
        display: none;
    }

    .footer-left {
        display: none;
    }

    .footer-middle,
    .footer-right {
        text-align: center;
        padding-bottom: 88px;
    }

    .footer-middle {
        margin-top: -100px;
    }
}

@media screen and (max-width: 600px) {
    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .footer-line {
        display: none;
    }

    .footer-left {
        display: none;
    }

    .footer-middle,
    .footer-right {
        text-align: center;
        padding-bottom: 96px;
    }

    .footer-middle {
        margin-top: -100px;
    }
}